*{
    margin:0px;
    padding:0px; 
}

#container{
    width: 970px; 
    margin:auto;
}

a{
    color:#91B957;
}

.index-box{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.index-content p, form{
    padding:10px; 
    text-align:center;
    align-items:center;
}

#testimonials img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headline-img img{
    width:500px;
}

#option-boxes{
    display:flex;
}

.option-box img{
    width:300px; 
    margin:15px;
    display:flex;
}


.option-box p{
    margin: 0px 15px 0px 15px;
}

.col-3 {
    flex: 0 0 auto;
    width: 50%;
}

.subscription-image {
    background: url("/static/images/8.jpg");
    background-size: cover;
}