<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-white  bg-white mb-5" style="border-bottom: 3px solid #91B957;">
        <div class="container-fluid d-flex justify-content-evenly">
            <a class="navbar-brand ms-2 fw-bold active" href="/userdashboard">
                <img src="static/images/HopBox-logo.png" alt="logo_placeholder" width="340" height="155"
                    class="d-inline-block align-text-top rounded">
            </a>
            <ul class="container nav nav-tabs fs-5">
                <li class="nav-item">
                    <a class="nav-link text-success m-3 " href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success m-3" href="#">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-3 text-success" aria-current="page" href="#">Manage Account</a>
                </li>
            </ul>
            <p class="fs-5">
                Welcome, {{user.firstname}}  <br>   
                <a href="/logout" class="me-4 text-blue">Log-Off</a>
            </p>
        </div>
    </nav>
    <div class="container mt-5 p-4 text-dark rounded" style="background-color: #91B957;">
        <h1 class="mb-3">Subscription Option:{{subscriptions.box_name}}</h1>
        <img src="{{subscriptions.selected_product.image_path}}" alt="{{subscriptions.selected_product.image_path}}" class="container d-flex justify-content-center col-8 mt-5" height="360">
                    <!-- This (below) is what it should look like -->
        <img src="{% static 'images/beer_on_ice.png' %}" alt="{{subscriptions.selected_product.image_path}}" class="container d-flex justify-content-center col-8 mt-5" height="360">
        <p class="fst-italic fs-5 mt-4">
            {{subscriptions.description}}
            <br>
            <!-- This (below) is what it should look like -->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cumque officia vitae eligendi
            aliquam impedit debitis incidunt. Optio doloribus perspiciatis velit consectetur cum nobis!
        </p>
        <a href="/cart" role="button" class="container d-flex col-3 btn btn-lg btn-success justify-content-center fw-bold mt-4">Select this Subscription</a>
    </div>
    
    <form action="/options/review" method="POST" class="container rounded p-5 mt-4">
        {% csrf_token %}
        <label for="comment" class="form-label">
            <h2>Reviews: </h2>
        </label>
        <input type="text" class="form-control" placeholder="Leave a review here!" name="comment">
    
        <button type="submit" class="container d-flex me-5 mt-3 fw-bold mb-2 btn-success col-1 p-2 justify-content-center rounded">Submit</button>
    </form>
    {% if messages %}
    <ul class='container'>
        {% for message in messages %}
        <li class='text-danger fs-5' {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br>
{% for review in reviews %}
    <div class="container border border-4 border-success overflow-scroll rounded p-2 mt-1" style='max-height: 350px; max-width: 1200px;' >     
        <p class="fw-bold fs-5 mt-4">
            {{review.submitted_by.firstname}}{{review.submitted_by.lastname}}
            <br>
            <span class="fw-normal fs-6 fst-italic">
                - {{review.comment}}
            </span>
            <span class="fw-light text-primary fs-6 fst-normal ms-5">{{review.created_at}}</span>
        </p>
    </div>
{% endfor %}

<!-- This (below) is what it should look like -->
    <div class="container border border-4 border-success overflow-scroll rounded p-2 mt-1" style='max-height: 350px; max-width: 1200px;' >     
        <p class="fw-bold fs-5 mt-4">{{user_obj.firstname}}{{user_obj.lastname}} wrote
                <br>
            <span class="fw-normal fs-6 fst-italic">
                - {{review.comment}} Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. Eaque eum magni voluptate quisquam nemo consequatur 
                nisi temporibus qui maxime fugit iste explicabo iusto aut, eos optio dignissimos. 
                Quibusdam, quae rerum. **
            </span>
            <span class="fw-light text-primary fs-6 fst-normal ms-5">{{review.created_at}}</span>
        </p>
        <p class="fw-bold fs-5 mt-4">{{logged_user.first_name}}{{logged_user.last_name}} wrote
            <br>
            <span class="fw-normal fs-6 fst-italic">
                - {{review.comment}} Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. Eaque eum magni voluptate quisquam nemo consequatur 
                Quibusdam, quae rerum. **
            </span>
            <!-- {% if post.posted_by.id == request.session.user_id %}
            <a href="/delete-comment/{{post.id}}" role="button" class="btn btn-danger btn-sm fw-bold rounded">Delete</a>
            {% endif %} -->
            <span class="fw-light text-primary fs-6 fst-normal ms-5">{{review.created_at}}</span>
        </p> 
        <p class="fw-bold fs-5 mt-4">{{logged_user.first_name}}{{logged_user.last_name}} wrote
            <br>
        <span class="fw-normal fs-6 fst-italic">
            - {{review.comment}} Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Eaque eum magni voluptate quisquam nemo consequatur 
            nisi temporibus qui maxime fugit iste explicabo iusto aut, eos optio dignissimos. 
            Quibusdam, quae rerum. **
        </span>
        <span class="fw-light text-primary fs-6 fst-normal ms-5">{{review.created_at}}</span>
        </p>
        <p class="fw-bold fs-5 mt-4">{{logged_user.first_name}}{{logged_user.last_name}} wrote
        <br>
        <span class="fw-normal fs-6 fst-italic">
        - {{review.comment}} Lorem ipsum dolor sit amet. **
        </span>
        <span class="fw-light text-primary fs-6 fst-normal ms-5">{{review.created_at}}</span>
        </p>
    </div>
</html>