<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-white  bg-white mb-3" style="border-bottom: 3px solid #91B957;">
        <div class="container-fluid">
            <a class="navbar-brand ms-2 fw-bold active" href="/userdashboard">
                <img src="{% static 'images/HopBox-logo.png' %}" alt="logo_placeholder" width="340" height="155" class="d-inline-block align-text-top rounded">
            </a>
            <ul class="navbar-nav me-auto">
            </ul>
            <p class="mt-2 fs-5">
                Already have an account? |   
                <a href="/login" class="me-4 text-blue">Log In</a>
            </p>
        </div>
    </nav>
    <h1 class="container text-center fw-bold p-2 mt-5 mb-5" style="font-size: 50px; color: green;">SIGN UP!</h1>
        <div class="container p-2 rounded" style="background-color: #91B957; width: 750px;">
            <div class="col-4 offset-4">
                {% load crispy_forms_tags %}
                {% crispy RegForm %}
            </div>
        </div>
    </div>
</body>
</html>